.active {
    background-color: yellow;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.nonActive {
    background-color: white;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}